<main role="main" class="row">
<div class="columns nine">
  {{> flash_message_alert}}
  <h1>Edit post: {{post.title}}</h2>
  <p>To edit the post, update the fields below and press 'Submit' when finished.</p>
  {{> validation_errors errors}}
  <form method="post">
    <input type="hidden" name="csrf_token" value="{{csrf_token}}">
    <input type="hidden" name="post_id" value="{{post.post_id}}">
    <div class="full">
      <label for="posts_title">Title:</label>
      <input type="text" name="title" id="posts_title"{{#if post.title}} value="{{post.title}}"{{/if}}>
    </div>
    <div class="half">
      <label for="posts_published_date">Published date:</label>
      <input type="date" name="published_date" id="posts_published_date" value="{{date_format post.published "YYYY-MM-DD"}}">
    </div>
    <div class="half">
      <label for="posts_published_time">Published time:</label>
      <input type="time" name="published_time" id="posts_published_time" value="{{date_format post.published "HH:mm"}}">
    </div>
    <div class="full">
      <label for="posts_summary">Summary:</label>
      <textarea name="summary" id="posts_summary" rows="3" cols="12">{{post.summary}}</textarea>
    </div>
    <div class="full">
      <label for="posts_content">Content:</label>
      <textarea name="content" id="posts_content" rows="12" cols="12">{{post.content}}</textarea>
    </div>
    <div class="buttons">
      {{#eq post.post_status_type_id 1}}
      <button role="button" name="post_status_type_id" value="1" type="submit">Save for later</button>
      {{/eq}}
      <button role="button" name="post_status_type_id" value="2" type="submit">Publish</button>
      <a role="button" href="{{config.admin_base_address}}/posts">Exit</a>
    </div>
  </form>
</div>
<div class="columns three">
  {{> admin_sidebar}}
</div>
</main>
