<main role="main" class="row">
<div class="columns nine">
  {{> flash_message_alert}}
  <h1 class="">{{page.title}}</h2>
  <p>To review a comment, use the filters below and press the 'Review' beside your chosen comment.</p>
  <form method="post">
    <input type="hidden" name="csrf_token" value="{{csrf_token}}">
    <h2>Filters</h2>
    <div class="half">
      <label for="comments_author_name">Author:</label>
      <input type="text" name="author_name" id="comments_author_name"{{#if filters.author_name}} value="{{attrSafe filters.author_name}}"{{/if}}>
    </div>
    <div class="half">
      <label for="comments_comment_status_type_id">Status:</label>
      <select name="comment_status_type_id" id="comments_comment_status_type_id">
        <option value="">… Select a status …</option>
        {{#each types.commentStatus}}
        <option value="{{attrSafe id}}"{{#eq id ../filters.comment_status_type_id}} selected{{/eq}}>{{name}}</option>
        {{/each}}
      </select>
    </div>
    <div class="buttons">
      <input type="submit" value="Filter">
      <input type="submit" name="clear" value="Clear">
    </div>
  </form>
  {{#if comments}}
  <form method="post" action="{{config.admin_base_address}}/comments/delete">
    <input type="hidden" name="csrf_token" value="{{csrf_token}}">
    <table>
      <thead>
        <tr>
          {{#in ../current_user.role_name "su" "editor"}}
          <th class="fit_width"></th>
          {{/in}}
          <th class="fit_width">Author</th>
          <th>Content</th>
          <th class="fit_width hidden-lowwidth">Date</th>
          <th class="fit_width hidden-lowwidth">Status</th>
          <th class="fit_width">Edit</th>
        </tr>
      </thead>
      <tbody>
        {{#each comments}}
        <tr>
          {{#in ../current_user.role_name "su" "editor"}}
          <td>{{#if can_delete}}<input type="checkbox" name="comment_id[]" id="comment_id_{{comment_id}}" value="{{comment_id}}">{{/if}}</td>
          {{/in}}
          <td><label for="comment_id_{{comment_id}}">{{user_name}}</label></td>
          <td>{{content}}</td>
          <td class="hidden-lowwidth">{{date_format inserted "DD/MM/YYYY"}}</td>
          <td class="hidden-lowwidth">{{comment_status}}</td>
          {{#eq comment_status_type_id 1}}
          <td><a href="{{../../config.admin_base_address}}/comments/approve/{{comment_id}}" role="button">Approve</a></td>
          {{else}}
          <td>N/A</td>
          {{/eq}}
        </tr>
        {{/each}}
      </tbody>
    </table>
    {{#in ../current_user.role_name "su" "editor"}}
    <div class="buttons">
      <input type="submit" value="Delete selected">
    </div>
    {{/in}}
  </form>
  {{else}}
  <p>There are no comments</p>
  {{/if}}
</div>
<div class="columns three">
  {{> admin_sidebar}}
</div>
</main>
