<main role="main" class="row">
  <div class="columns nine">
  {{> flash_message_alert}}
  <h1 class="">Archives</h2>
    {{#blog_archive posts}}
    <a href="{{../config.base_address}}/posts/{{slug}}">{{#if title}}{{title}}{{^}}Status update by {{author_name}} on <time class="dt-published" datetime="{{date_format published YYYY-mm-dd HH:mm:ss}}">{{date_format published "dddd, MMMM Do YYYY, HH:mm:ss"}}</time>{{/if}}</a>
    {{/blog_archive}}
    {{paginate pagination}}
  </div>
  <div class="columns three">
    {{> sidebar}}
  </div>
</main>
