<main role="main" class="row">
  <div class="columns nine">
    {{> flash_message_alert}}
    <h1 class="">Tags</h2>
    <div class="card">
      {{#if tags}}
        <ul class="cloud">
          {{#each tags}}
          <li>
          <a href="{{../config.base_address}}/tags/{{name}}" style="font-size: {{rank}}em;">{{#if pretty_name}}{{pretty_name}}{{^}}{{name}}{{/if}}</a>
          </li>
          {{/each}}
        </ul>
      {{^}}
        <p>No tags could be found.</p>
      {{/if}}
    </div>
  </div>
  <div class="columns three">
    {{> sidebar}}
  </div>
</main>
