<main role="main" class="row">
<div class="columns nine">
  {{> flash_message_alert}}
  <h1 class="">Posts</h2>
  <p>To edit a post, use the filters below and press the 'Edit' beside your chosen post.</p>
  <form method="post">
    <input type="hidden" name="csrf_token" value="{{csrf_token}}">
    <h2>Filters</h2>
    <div class="half">
      <label for="posts_title">Title:</label>
      <input type="text" name="title" id="posts_title"{{#if filters.title}} value="{{attrSafe filters.title}}"{{/if}}>
    </div>
    <div class="half">
      <label for="post_status_type_id">Status:</label>
      <select name="post_status_type_id" id="post_status_type_id">
        <option value="">… Select a status …</option>
        {{#each types.postStatus}}
        <option value="{{attrSafe id}}"{{#eq id ../filters.post_status_type_id}} selected{{/eq}}>{{name}}</option>
        {{/each}}
      </select>
    </div>
    <div class="buttons">
      <input type="submit" value="Filter">
      <input type="submit" name="clear" value="Clear">
    </div>
  </form>
  {{#if posts}}
  <form method="post" action="{{config.admin_base_address}}/posts/delete">
    <input type="hidden" name="csrf_token" value="{{csrf_token}}">
    <table>
      <thead>
        <tr>
          {{#in ../current_user.role_name "su" "editor"}}
          <th class="fit_width"></th>
          {{/in}}
          <th>Title</th>
          <th class="fit_width hidden-lowwidth">Published</th>
          <th class="fit_width hidden-lowwidth">Status</th>
          <th class="fit_width">Edit</th>
        </tr>
      </thead>
      <tbody>
        {{#each posts}}
        <tr>
          {{#in ../current_user.role_name "su" "editor"}}
          <td>{{#if can_delete}}<input type="checkbox" name="post_id[]" id="post_id_{{post_id}}" value="{{post_id}}">{{/if}}</td>
          {{/in}}
          <td><label for="post_id_{{post_id}}">{{title}}</label></td>
          <td class="hidden-lowwidth">{{date_format published "DD/MM/YYYY"}}</td>
          <td class="hidden-lowwidth">{{post_status}}</td>
          {{#eq can_edit 1}}
          <td><a href="{{../../config.admin_base_address}}/posts/edit/{{post_id}}" role="button">Edit</a></td>
          {{else}}
          <td>N/A</td>
          {{/eq}}
        </tr>
        {{/each}}
      </tbody>
    </table>
    {{#in ../current_user.role_name "su" "editor"}}
    <div class="buttons">
      <input type="submit" value="Delete selected">
    </div>
    {{/in}}
  </form>
  {{else}}
  <p>There are no posts</p>
  {{/if}}
</div>
<div class="columns three">
  {{> admin_sidebar}}
</div>
</main>
